<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODA BIO</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <header>
        <img class="top" src="/img/op-banner.png" alt="banner">   
        
        <div class="cont">
            <a href="/"><img id="home" src="/img/sunny.png" alt="home"></a>
            <h1>Highlights</h1>
            <a class="na" href="/bio"> Back to biO </a>
        </div>    
    </header>

</body>
</html>