<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <img class="top" src="/img/op-banner.png" alt="banner">   
        <div class="cont">
            <a href="/">
                <img id="home" src="/img/sunny.png" alt="image">
            </a>
            <h1>Eiichirō Oda</h1>
            <div class="na">
                <a href="/bio"><div>bio</div></a>   
                <a href="/highlights"><div>back to highlights</div></a>
            </div>
        </div> 
    </header>    
    <nav>
        <a href="/bio"><div>bio</div></a>
        <a href="/highlights"><div>back to highlights</div></a>
    </nav>
</body>
</html>